.footer {
  max-width: 1440px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio {
  display: flex;
  align-items: center;
  height: 100%;
}

.footer p {
  font-size: 1.2rem;
  color: var(--gray-color);
}

.footer span {
  color: var(--text-color);
}

.footer img {
  width: 20px;
}

@media screen and (max-width: 540px) {
  .footer p {
    font-size: .875rem;
  }
}

@media screen and (max-width: 400px) {
  .footer p {
    font-size: .125rem;
    text-align: center;
  }
}